
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0px 0px; /* Padding for the content */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
    direction: ltr;
    text-align: right;
    position: relative; /* Ensure that the body element can position the ticker */
    padding-bottom: 50px; /* Add padding to the bottom to make space for the ticker */
}
/* تنسيق الصفحة عند استخدام الاتجاه من اليمين إلى اليسار */
html[dir="rtl"] body {
    direction: rtl;
    text-align: right;
}

/* تنسيق الصفحة عند استخدام الاتجاه من اليسار إلى اليمين */
html[dir="ltr"] body {
    direction: ltr;
    text-align: left;
}
.ticker-container {
        width: 100%;
        background-color: #f2f2f2;
        overflow: hidden;
        white-space: nowrap;
        box-sizing: border-box;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9999; /* Ensure it stays on top */
        padding: 10px 0;
    }
    .ticker {
        animation: scroll-right 30s linear infinite;
        animation: scroll-left 30s linear infinite; 

    }

    @keyframes scroll-right {
        0% { transform: translateX(100%); }
        100% { transform: translateX(-100%); }

    }
    @keyframes scroll-left {
        0% { transform: translateX(-100%); }
        100% { transform: translateX(100%); }
    }

header {
    background-color: #ffffff;
    color: #333333;
    padding: 20px ;
    box-shadow: 0 10px 4px rgba(0,0,0,0.1);
}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header .logo {
    max-width: 250px;
    margin-left: 20px;
}

header h1 {
    font-size: 28px;
    margin-top: 10px;
}
.company-info {
    margin-top: 10px;
    margin-left: 20px;
    text-align: center;
}
.small-text {
    font-size: 16px;
    color: #666666;
}

.nav-center {
            display: flex;
            justify-content: center;
            gap: 5px; /* مسافة بين الأزرار */
            margin-top: 10px; /* مسافة فوق الأزرار */
        }
        .nav-center a {
            padding: 10px 10px;
            text-decoration: none;
            color: #000;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .nav-center a:hover {
            background-color: #f0f0f0;
        }


/* أنماط الاتجاه العام للغات */
.ltr {
    direction: ltr;
    text-align: left;
}

.rtl {
    direction: rtl;
    text-align: right;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  max-width: 800px; /* Change max-width to 100% to make it responsive */
  height: auto; /* Auto adjust the height */
}

/* Adjust the image sizes to fit the container */
.container img {
  width: 100%; /* Set the image width to 100% to make it responsive */
  height: auto; /* Auto adjust the height */
  object-fit: cover;
}

/* Hide the images by default */
.mySlides {
  display: none;
   text-align: center;
}
.fade {
    animation-name: fade;
    animation-duration: 10s;
}

@keyframes fade {
    from {opacity: 1} 
    to {opacity: 1}
}

.mySlides img {
    max-width: 800px; /* تحديد العرض الأقصى للصور بنسبة مئوية من عرض العنصر الأصلي */
    height: auto; /* يحافظ على نسبة العرض إلى الارتفاع للحفاظ على تناسق الصورة */
}



/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}





#contact {
    position: relative;
    bottom: -50px;
    width: 100%;
    background-color: #ffffff;
    padding: 40px; /* Adjust padding */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}




#w3-container h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#w3-container h1 {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

#w3-container h2 {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

#w3-container p {
  font-size: 16px;
  color: #666;
  margin-bottom: 15px;
}

.contact-info {
  margin-top: 20px;
}

.contact-info h2 {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.contact-info p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}


/* تحديد النمط العام للقائمة */
#content ul {
    list-style-type: none; /* إزالة نقاط القائمة */
    padding: 0; /* إزالة التباعد الداخلي */
}

/* تحديد النمط لعناصر القائمة داخلها */
#content ul li {
    margin-bottom: 10px; /* تباعد بين عناصر القائمة */
    font-size: 16px; /* حجم النص */
}

/* تحديد النمط للروابط */
#content ul li a {
    color: #007bff; /* لون الروابط */
    text-decoration: none; /* إزالة تحديد الروابط */
}

/* تحديد النمط للروابط عند تمرير المؤشر عليها */
#content ul li a:hover {
    text-decoration: underline; /* تحديد الروابط عند التمرير عليها */
}

/* Add styles for the icons */
.contact-info a i {
    margin-right: 5px; /* Adjust spacing between icon and text */
}

/* Style the separator */
.contact-info span {
    margin: 0 10px; /* Adjust spacing around the separator */
}

/* Add custom styles for WhatsApp numbers */
.contact-info a[href^="https://wa.me/"] {
    color: #25D366; /* Change color for WhatsApp links */
}

/* Add custom styles for Facebook links */
.contact-info a[href^="https://www.facebook.com/"] {
    color: #3b5998; /* Change color for Facebook links */
}


/* Add custom styles for WhatsApp numbers */
.contact-info a[href^="https://wa.me/"] {
    color: #25D366; /* Change color for WhatsApp links */
    margin-left: 10px; /* Adjust spacing between Facebook and WhatsApp links */
}

/* Add styles for the icons */
.contact-info a i {
    margin-right: 5px; /* Adjust spacing between icon and text */
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-info i.fas.fa-phone {
    color: #333; /* Change color of phone icon */
    margin-right: 8px; /* Adjust spacing between icon and text */
}

/* Add custom styles for the contact list */
.contact-info ul {
    list-style-type: none; /* Remove list bullets */
    padding: 0; /* Remove padding */
}

.contact-info ul li {
    margin-bottom: 10px; /* Space between list items */
    font-size: 16px; /* Font size for list items */
